@tailwind base;
    @tailwind components;
    @tailwind utilities;


    .gloria-hallelujah-regular {
      font-family: "Gloria Hallelujah", cursive;
      font-weight: 400;
      font-style: normal;
    }
    